*{
    font-family: cursive;
}
body{
    background: url('../images/bg2.jpg');
    background-size: cover;
    /* height: 100vh; */
}
#box{
    padding: 5px;
    height: auto;
    width: 40%;
    margin:auto;
    background: transparent;
    /* background-color: whitesmoke; */
    /* box-shadow: 1px 1px 10px 1px; */
}
input[type='text'],input[type='email'],input[type='password']{
    height: 30px;
    width: 400px;
    text-align: center;
    font-size: 18px;
    margin:5px;
    margin-left: 50px;
    border-width: 0px 0px 2px 0px;
    /* border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px; */
    border-bottom-style: solid;
    border-bottom-color: black;
    outline: 0px;
    background-color: transparent;
    color:darkslategrey;
}
input[type='submit'],input[type='reset']{
    height: 38px;
    width: 407px;
    text-align: center;
    font-size: 18px;
    margin:5px;
    margin-left: 50px;
    border-width: 0px;
    background-color: teal;
    color:white;
}
input[type='checkbox']{
    margin:5px;
    margin-left: 50px;
}
span{
    color:darkslategray;
}