#container{
    height: auto;
}
#left{
    width: 25%;
    height: 100vh;
    float: left;
    background-color: goldenrod;
    position: fixed;
}
#right{
    width: 75%;
    background-color: lightgoldenrodyellow;
    height: 100vh;
    float: left;
    margin-left: 25%;
}
#top{
    height: 300px;
    width: 100%;
    background-color: black;
}
#circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left:75px;
    margin-top:-75px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 35px 1px;
}
#image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: gold;
}